<div class="col-md-offset-2 mb-4 edit-profile-wrapper">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="profile-form-wrap">
        <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), local: true, method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :name, "フルネーム" %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, autofocus: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "パスワードの確認" %>
            <%= f.password_field :password_confirmation, autofocus: "off", class: "form-control" %>
          </div>

          <div class="form-image">
            <%= f.label :avatar, "画像" %>
            <div class="form-image-body">
              <%= f.file_field :avatar %>
            </div>
          </div>

          <div class="form-profile">
            <div class="form-group">
              <%= f.label :text, "プロフィール" %>
              <div>
                <%= f.text_area :text, autofocus: true, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="submit-edit">
            <%= f.submit "変更する", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">設定</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="list-group text-center">
              <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
              <%= link_to "アカウント削除", user_registration_path, method: :delete, data: { confirm: '削除してもよろしいですか?' }, class: "list-group-item list-group-item-action" %>
              <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>