<div class="profile-wrap">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="icon_image">
        <%= image_tag(@user.avatar.variant(resize:'300x300').processed) if @user.avatar.attached? %>
      </div>
      <h1><%= @user.name %></h1>
      <div class="follow_list">
        <%= @user.follow_count %>
        <%= link_to "フォロー", {controller: :users,action: :follow_list,user_id: @user.id}, method: :get %>
        <%= @user.followers_count %>
        <%= link_to "フォロワー", {controller: :users,action: :follower_list,user_id: @user.id}, method: :get %>
        <% if current_user.id != @user.id %>
          <%= render 'partial/follow_form' %>
        <% end %>
      </div>

      <% if @user == current_user %>
        <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
      <% end %>
      <div class="row profile-text">
        <p><%= @user.text %></p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">設定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="list-group text-center">
                <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
                <%= link_to "アカウント削除", user_registration_path, method: :delete, data: { confirm: '削除してもよろしいですか?' }, class: "list-group-item list-group-item-action" %>
                <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-md-12 col-md-8 col-md-2 mx-auto">
            <div class="card-wrap">
              <div class="card">
                <div class="card-header align-items-center d-flex">
                  <%= link_to user_path(@user), class: "no-text-decoration" do %>
                    <%= image_tag(@user.avatar.variant(resize:'50x50').processed) if @user.avatar.attached? %>
                  <% end %>
                  <%= link_to user_path(@user), class: "post-user-name black-color no-text-decoration",
                    title: @user.name do %>
                    <strong><%= post.user.name %></strong>
                  <% end %>
                  
                  <% if @user.id == current_user.id %>
                    <%= link_to post_path(post), method: :delete, class: "ml-auto mx-0 my-auto" do %>
                      <div class="delete-post-icon"></div>
                    <% end %>
                  <% end %>
                </div>
                <%= link_to(post_path(post)) do %>
                  <div class="row">
                    <% if post.images.count > 1 %>
                      <% post.images.each do |image|%>
                        <div class="col-md-6 card-img">
                          <%= image_tag image, class: "card-img-top" %>
                        </div>
                      <% end %>
                    <% else %>
                     <% post.images.each do |image|%>
                        <div class="col-md-12 card-img">
                          <%= image_tag image, class: "card-img-top" %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                  <% if post.youtube_url.present? %>
                    <div class="youtube-movie">
                      <div class="youtube-movie-content">
                        <iframe width="640" height="390" src="https://www.youtube.com/embed/<%= post.youtube_url %>" allowfullscreen></iframe>
                      </div>
                    </div>
                  <% end %>
                  <div class="card-body">
                    <div class="card-caption m-2">
                      <strong>
                        <%= post.caption %>
                      </strong>
                      <div class="light-color post-time no-text-decoration">
                        <span><%= time_ago_in_words(post.created_at).upcase + "前" %></span>
                      </div>
                    </div>       
                  </div>
                <% end %>
                <div class="card-body">
                  <div class="row parts">
                    <% if @user.id != current_user.id %>
                      <div id="like-icon-post-<%= post.id.to_s %>">
                        <% if post.liked_by(current_user).present? %>
                          <%= link_to "いいねを取り消す", post_like_path(post.id, post.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text" %>
                        <% else %>
                          <%= link_to "いいね", post_likes_path(post), method: :POST, remote: true, class: "love hide-text" %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div id="like-text-post-<%= post.id.to_s %>">
                    <%= render "partial/like_text", { likes: post.likes } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
