<div class="main">
  <div class="card devise-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h2 class="logo-img mx-auto"></h2>
      </div>
      <div class="form-group text-center">
        <p class="mx-auto greeting">あなたの旅行アルバムを共有しましょう</p>
      </div>
      <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "サインインする", class: "btn btn-primary w-100" %>
        </div>
      <% end %>

      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-social btn-google googlebtn" do %>
        <span class="fa fa-google"></span> Googleアカウントでサインイン
      <% end %>

      <br>

      <p class="devise-link">
        アカウントをお持ちでないですか？
        <%= link_to "サインアップする", new_user_registration_path %>
      </p>
      
      <p class="devise-link">
        テストアカウントとしてサインイン
        <%= link_to 'Log in for TEST', users_guest_sign_in_path, method: :post %>
      </p>
    </div>
  </div>
</div>