<div class="col-md-10 col-md-offset-1 mx-auto postShow-wrap">
  <div class="row post-wrap">
    <div class="col-md-8">
      <div class="card-left">
        <div class="row">
          <% if @post.images.count > 1 %>
            <% @post.images.each do |image|%>
              <div class="col-md-6 card-img">
                <%= image_tag image, class: "card-img-top" %>
              </div>
            <% end %>
          <% else %>
            <% @post.images.each do |image|%>
              <div class="col-md-12 card-img">
                <%= image_tag image, class: "card-img-top" %>
              </div>
            <% end %>
          <% end %>
        </div>
        <% if @post.youtube_url.present? %>
          <div class="youtube-movie">
            <div class="youtube-movie-content">
              <iframe width="640" height="390" src="https://www.youtube.com/embed/<%= @post.youtube_url %>" allowfullscreen></iframe>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-right">
        <div class="card-right-comment">
          <div class="card-right-name">
            <%= link_to user_path(@post.user), class: "no-text-decoration" do %>
              <%= image_tag(@post.user.avatar.variant(resize:'50x50').processed) if @post.user.avatar.attached? %>
            <% end %>
            <%= link_to user_path(@post.user), class: "black-color no-text-decoration post-user-name",
              title: @post.user.name do %>
              <strong><%= @post.user.name %></strong>
            <% end %>
            <% if @post.user_id == current_user.id %>
              <%= link_to post_path(@post), method: :delete, class: "ml-auto mx-0 my-auto" do %>
                <div class="delete-post-icon"></div>
              <% end %>
            <% end %>
          </div>
          <div class="card-caption m-2">
            <strong>
              <%= @post.caption %>
            </strong>
            <div class="post-time"><%= time_ago_in_words(@post.created_at).upcase %>前</div>
          </div>
          <div>
            <tbody>
              <% @post.tag_list.each do |post| %>
                <tr>
                  <span class="label label-primary tag-design"><%= post %></span>
                </tr>
              <% end %>
            </tbody>
          </div>
        </div>
        <% if @post.user_id != current_user.id %>
          <div class="row parts">
            <div id="like-icon-post-<%= @post.id.to_s %>">
              <% if @post.liked_by(current_user).present? %>
                <%= link_to "いいねを取り消す", post_like_path(@post.id, @post.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text" %>
              <% else %>
                <%= link_to "いいね", post_likes_path(@post), method: :POST, remote: true, class: "love hide-text" %>
              <% end %>
            </div>
          </div>
          <div id="like-text-post-<%= @post.id.to_s %>">
            <%= render "partial/like_text", { likes: @post.likes } %>
          </div>
          <hr>
          <div class="comment-post-id">
            <div class="m-2">
              <div id="comment-post-<%= @post.id.to_s %>">
                <%= render 'partial/comment_list', post: @post %>
              </div>
            </div>
          </div>
          <div class="row parts" id="comment-form-post-<%= @post.id.to_s %>">
            <%= form_with model: [@post, Comment.new],  class: "w-100", remote: true do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :post_id, value: @post.id %>
              <%= f.text_field :comment, class: "form-control comment-input border-0", placeholder: "コメント ...", autocomplete: :off, required: true %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id='map'></div>
</div>

<style type="text/css">
#map{
  height: 400px;
}
</style>

<script type="text/javascript">
function initMap() {
    var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15, 
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '観光地の名前：<%= @post.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });
     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<% ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>

